<link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity = "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin = "anonymous">
<!doctype html>
<html lang="en">
  <head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0, user-scalable = no"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity = "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src = "https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta charset="utf-8">
    <title>K-Means Group Culture</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
      </header>
      <main role="main" class="inner cover">
        <h1 class="display-1 cover-heading">K-Means Group Culture</h1>
        <p class="lead">K-Means Group Culture applies Natural Language Processing to convert employee check-ins into comprehensive insights</p>
      </main>

      <footer class="mastfoot mt-auto">
      </footer>
      <form action="{{ url_for('upload_form') }}">
        <button id = "go" class = "btn btn-primary" style = "position:fixed; bottom:10px; right:10px;" type = "submit">Start</button>
      </form>
    </div>
  </body>
</html>
